<div  class="" style="padding: 8px; width: auto; margin: auto;" [style.max-width]="(!section.width || section.width === '') ? '500px' : section.width">
    <img appMaterialElevation [src]="'assets/content/' + (project ? 'projects' : 'blogs') + '/' + id + '/' + section.src" (click)="openPictureModal('assets/content/' + (project ? 'projects' : 'blogs') + '/' + id + '/' + section.src)" [alt]="section.alt" [style.max-width]="(!section.width || section.width === '') ? '700px' : section.width">
    <span><i>{{section.text}}</i></span>
</div>
