<div class="display-container card-container">


    <mat-card *ngIf="!loading else loadingGif" fxLayout="column" fxLayoutAlign="center center" style="margin: 16px;" class="dark-theme">

        <div></div>
        <app-tmpl-wrapper class="title-width" [section]="{ type: 'header', text: 'Blog Posts', noPadding: true}">
        </app-tmpl-wrapper>

        <a class="link-wrapper" *ngFor="let blog of blogList" [routerLink]="'/blog/'+blog.id">
            <mat-card appMaterialElevation class="blog-outer blog-card mat-card-link" fxLayout="row">

                <div fxLayout="column" fxFlex>
                    <mat-card-title fxFlex="none">{{blog.title}}</mat-card-title>
                    <mat-card-subtitle fxFlex="none">{{blog.subtitle}}</mat-card-subtitle>
                    <p style="margin: 0;">Author: {{blog.author}}</p>
                </div>
                <div fxLayout="column">
                    <mat-card-title>{{blog.date}}</mat-card-title>
                    <mat-chip-list *ngFor="let tag of blog.tags">
                        <mat-chip>{{tag}}</mat-chip>
                    </mat-chip-list>
                </div>
            </mat-card>
        </a>

        <div></div>

    </mat-card>

    <ng-template #loadingGif>
        <mat-card fxLayoutAlign="center">
            <img src="assets/images/loading-blue.gif" alt="loading">
        </mat-card>
    </ng-template>
</div>