<div class="display-container card-container">


    <div *ngIf="!loading else loadingGif" fxLayout="column" fxLayoutAlign="center center" style="margin: 16px;" class="light-theme">

        <div></div>
        <app-tmpl-wrapper class="title-width" [section]="{ type: 'header', text: 'Blog Posts', noPadding: true}">
        </app-tmpl-wrapper>

        <ng-container *ngFor="let blog of blogList" style="width: 100%;">
            <app-blog-card [blog]="blog" style="max-width: 100%;"></app-blog-card>
        </ng-container>

        <div></div>

    </div>

    <ng-template #loadingGif>
        <mat-card fxLayoutAlign="center">
            <img src="assets/images/loading-blue.gif" alt="loading">
        </mat-card>
    </ng-template>
</div>