<div *ngIf="loading else content">
    Loading...
</div>

<ng-template #content>
    <mat-card class="display-container" style="margin: auto;">
        <div fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="center center">

            <div fxFlex.xs="350px" fxFlex.sm="450px" fxFlex.gt-sm="48" style="min-width: 350px;">
                <mat-card-title style="font-size: 48px;">{{data.name}}</mat-card-title>
                <mat-card-subtitle>{{data.title}}</mat-card-subtitle>
                <p><strong>{{data.bio}}</strong></p>
                <p>{{data.summary}}</p>
                <p><strong>Current Focus: </strong>{{data.currentFocus}}</p>
            </div>

            <div fxFlex.xs="400px" fxFlex.sm="400px" fxFlex.gt-sm="48" style="min-width: 350px;" fxLayoutAlign="center center">
                <img style="width: 375px; height: inherit; margin: auto; border-radius: 16px;" [src]="'assets/images/about/' + data.photo">
            </div>

        </div>

        <!-- Experience -->
        <div fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="center" *ngIf="data.experience.length > 0" class="mat-card-experience">

            <!-- <h1>Experience</h1> -->
            <app-tmpl-wrapper [section]="{ type: 'header', text: 'Experience'}"></app-tmpl-wrapper>

            <mat-card *ngFor="let exp of data.experience"
                class="mat-elevation-z16">
                <div fxLayout="row wrap" fxLayoutGap="16px">
                    <div fxFlex="none">
                        <img [src]="'assets/images/about/' + exp.logo" [alt]="exp.company + ' Logo'" height="64px">
                    </div>
                    <div fxFlex>
                        <mat-card-title *ngIf="exp.company">
                            {{exp.company}}
                        </mat-card-title>
                    </div>
                    <div fxFlex="none">{{exp.title}}</div>
                </div>

                <mat-divider class="mat-card-divider"></mat-divider>

                <div class="experience-content">
                    <mat-card-content>
                        <p><em>
                                {{exp.summary}}
                            </em></p>

                        <div *ngFor="let item of exp.items">
                            <h3>
                                {{item.title}}
                            </h3>
                            <ul>
                                <li *ngFor="let li of item.items">
                                    {{li}}
                                </li>
                            </ul>
                        </div>

                    </mat-card-content>
                </div>

                <mat-divider class="mat-card-divider"></mat-divider>

                <p class="experience-footer">{{exp.dates}} | {{exp.location}}</p>
            </mat-card>

        </div>

        <!-- Skills -->
        <div fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="center" *ngIf="data.skills.length > 0" class="mat-card-skills">

            <!-- <h1>Skills</h1> -->
            <app-tmpl-wrapper [section]="{ type: 'header', text: 'Skills'}"></app-tmpl-wrapper>

            <mat-card *ngFor="let skill of data.skills" class="mat-elevation-z16">
                <mat-card-title>
                    {{skill.title}}
                </mat-card-title>

                <mat-divider class="mat-card-divider"></mat-divider>

                <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" class="skill-content">
                    <div *ngFor="let item of skill.items" fxLayout="column">
                        <img [src]="'assets/images/about/' + item.logo" [alt]="item.text + 'Logo'" height="100px" style="margin-top: 8px;">
                        <p class="skill-text">{{item.text}}</p>
                    </div>
                </div>
            </mat-card>

        </div>

        <!-- Awards -->
        <div fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="center" *ngIf="data.awards.length> 0" class="mat-card-row">

            <!-- <h1>Awards</h1> -->
            <app-tmpl-wrapper [section]="{ type: 'header', text: 'Awards'}"></app-tmpl-wrapper>

            <div fxLayout="row wrap" fxLayoutAlign="center">
                <mat-card *ngFor="let award of data.awards" class="mat-elevation-z16 mat-card-awards">
                    <mat-card-title>{{award.title}}</mat-card-title>
                    <mat-card-subtitle>{{award.location}} | {{award.date}}</mat-card-subtitle>
                    <ul>
                        <li>{{award.summary}}</li>
                    </ul>
                </mat-card>
            </div>

        </div>

        <!-- Education -->
        <div fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="center" *ngIf="data.education.length> 0" class="mat-card-row">

            <!-- <h1>Education</h1> -->
            <app-tmpl-wrapper [section]="{ type: 'header', text: 'Education'}"></app-tmpl-wrapper>

            <div fxLayout="row wrap" fxLayoutAlign="center">
                <mat-card *ngFor="let edu of data.education" class="mat-elevation-z16 mat-card-education">
                    <mat-card-title>{{edu.school}}</mat-card-title>
                    <mat-card-subtitle>{{edu.location}}</mat-card-subtitle>
                    <ul>
                        <li>{{edu.bullets}}</li>
                    </ul>
                </mat-card>
            </div>

        </div>

    </mat-card>

</ng-template>