.about-container {
    width: auto !important;
}

.mat-card-divider {
    width: 96% !important;
    margin-left: 2% !important;
}

.summary {
    white-space: pre-line;
}

/* Experience Section */
.mat-card-experience {
    max-width: 800px; 
    width: 100%;
    min-width: 350px;
    margin: auto;
}

.experience-content {
    background-color: white;
    padding: 16px;
}

.experience-footer {
    padding: 16px;
    margin: 4px;
}

/* Skills Section */
.mat-card-skills {
    max-width: 800px; 
    width: 100%;
    min-width: 350px;
    margin: auto;
}

.skill-content {
    padding: 16px;
}

.skill-text {
    text-align: center;
    margin-bottom: 0;
}

.mat-card-row {
    max-width: 100%; 
    width: 100%;
    min-width: 350px;
    margin: auto;
}

/* Awards Section */
.mat-card-awards {
    max-width: 400px; 
    width: 100%;
    min-width: 350px;
    margin: 8px; 
}

/* Education Section */
.mat-card-education {
    max-width: 400px; 
    // width: 400px;
    min-width: 350px;
    margin: 8px;
}
