.mat-card-divider {
    width: 96% !important;
    margin-left: 2% !important;
}

/* Experience Section */
.mat-card-experience {
    max-width: 800px; 
    width: 100%;
    min-width: 350px;
}

.experience-header {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: white;
}

.experience-content {
    background-color: white;
    padding: 16px;
}

.experience-footer {
    padding: 16px;
    margin: 4px;
}

/* Skills Section */
.mat-card-skills {
    max-width: 800px; 
    width: 100%;
    min-width: 350px;
}

.skill-content {
    padding: 16px;
}

.skill-text {
    text-align: center;
    margin-bottom: 0;
}

/* Awards Section */
.mat-card-awards {
    max-width: 400px; 
    width: 100%;
    min-width: 350px;
    margin: 8px; 
}

/* Education Section */
.mat-card-education {
    max-width: 400px; 
    width: 400px; 
    margin: 8px;
}