<div class="display-container card-container">
    

    <div *ngIf="!loading else loadingGif" fxLayout="row wrap" fxLayoutAlign="center stretch" style="margin: 16px;" class="light-theme">
        
        <div></div>
        <app-tmpl-wrapper class="title-width" [section]="{ type: 'header', text: 'Projects', noPadding: true}"></app-tmpl-wrapper>
        
        <ng-container *ngFor="let project of projectList">
            <app-project-card [project]="project"></app-project-card>
        </ng-container>

        <div></div>

    </div>

    <ng-template #loadingGif>
        <mat-card fxLayoutAlign="center">
            <img src="assets/images/loading-blue.gif" alt="loading">
        </mat-card>
    </ng-template>
</div>