<div class="display-container card-container">
    

    <mat-card *ngIf="!loading else loadingGif" fxLayout="row wrap" fxLayoutAlign="center" style="margin: 16px;">
        
        <div></div>
        <app-tmpl-wrapper class="title-width" [section]="{ type: 'header', text: 'Projects', noPadding: true}"></app-tmpl-wrapper>
        
        <mat-card *ngFor="let project of projectList" appMaterialElevation class="project-outer project-card"
            [routerLink]="'/project/'+project.id" fxLayout="column">

            <img *ngIf="project.comingSoon" src="assets/images/coming-soon.png" alt="coming soon banner" class="coming-soon">

            <img fxFlex="200px" [src]="'assets/content/' + project.id + '/' + project.image" [alt]="project.imageAlt" width="100%"
                class="image">

            <div fxFlex="16px"></div>

            <mat-card-title fxFlex="none">{{project.title}}</mat-card-title>
            <mat-card-subtitle fxFlex="none">{{project.subtitle}}</mat-card-subtitle>
        </mat-card>

        <div></div>

    </mat-card>

    <ng-template #loadingGif>
        <mat-card fxLayoutAlign="center">
            <img src="assets/images/loading-blue.gif" alt="loading">
        </mat-card>
    </ng-template>
</div>