.card-container {
    margin: auto;
    width: auto;
}

.image {
    border-radius: 8px;
    border: 4px solid black;
}

.project-card {
    &:hover{
        cursor: pointer;
    }
}

.title-width {
    width: 100% !important;
}

.coming-soon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
}
