.border-light-gray {
    border-color: #f1f1f1 !important;
}

.padding-64 {
    padding-top: 42px !important;
    padding-bottom: 42px !important;
}

.border-bottom {
    border-bottom: 1px solid #ccc !important;
}
