<a class="link-wrapper" [routerLink]="'/project/'+project.id" *ngIf="project !== undefined">
    <mat-card appMaterialElevation [defaultElevation]="0" class="project-outer project-card mat-card-link" fxFlex fxLayout="column">

        <mat-card-title fxFlex="none" class="title-link">{{project.title}}</mat-card-title>
        <mat-card-subtitle>{{project.date | date}}</mat-card-subtitle>

        <img height="200" width="268" *ngIf="project.comingSoon" src="assets/images/coming-soon.png" alt="coming soon banner" class="coming-soon">

        <img height="200" width="268" fxFlex="200px" [src]="'assets/content/projects/' + project.id + '/' + project.image" [alt]="project.imageAlt" width="100%"
            class="image">

        <div fxFlex="16px"></div>

        <mat-card-subtitle fxFlex>{{project.subtitle}}</mat-card-subtitle>
    </mat-card>
</a>