<mat-toolbar class="header-color">
    <div fxLayout="row" fxLayoutGap="16px" style="max-width: 1218px; width: 1218px; margin: auto;" *ngIf="header">
        <!-- <img src="assets/images/128x128.png" alt="Polklabs" height="64px"> -->
        <span routerLink="/home"  matTooltip="Home">{{header.title}}</span>

        <div fxFlex></div>

        <button mat-button type="button" [routerLink]="'/about'">About</button>
        <!-- <button mat-button type="button" [routerLink]="'/featured'">Featured</button> -->
        <button mat-button type="button" [routerLink]="'/projects'" fragment="">Projects</button>
        
        <a fxHide.sm fxHide.xs *ngIf="header.email !== ''" mat-button [href]="'mailto:'+header.email" matTooltip="Copy email to clipboard"><i class="fa fa-envelope"></i></a>
        <a fxHide.sm fxHide.xs *ngIf="header.twitter !== ''" mat-button [href]="header.twitter" target="_blank" matTooltip="Twitter"><i class="fab fa-twitter"></i></a>
        <a fxHide.sm fxHide.xs *ngIf="header.linkedIn !== ''" mat-button [href]="header.linkedIn" target="_blank" matTooltip="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
        <a fxHide.sm fxHide.xs *ngIf="header.facebook !== ''" mat-button [href]="header.facebook" target="_blank" matTooltip="Facebook"><i class="fab fa-facebook-f"></i></a>
        <a fxHide.sm fxHide.xs *ngIf="header.flickr !== ''" mat-button [href]="header.flickr" target="_blank" matTooltip="Flickr"><i class="fab fa-flickr"></i></a>
    </div>
</mat-toolbar>