.blog-card {
    border: solid 1px lightgray;
    &:hover{
        cursor: pointer;
    }
}

.title-width {
    width: 100% !important;
}

a {
    display: block;
    width: 100%;
    max-width: min-content;
    margin: auto;
}
