<div class="width">
    <mat-card class="mat-elevation-z6">
        <div fxLayout="row" class="code-title">
            <mat-card-title fxFlex style="padding-top: 6px">{{section.filename}}</mat-card-title>
            <button mat-raised-button style="margin-bottom: 8px;" ngxClipboard [cbContent]="codeBody" (click)="copied = true">{{copied ? 'Copied!' : 'Copy'}}</button>
        </div>
        <pre style="margin-top: 0;"><code [highlight]="codeBody" [languages]="section.language" [lineNumbers]="true"></code></pre>
    </mat-card>
</div>
