<div id="top"></div>
<div *ngIf="data" style="margin: auto; margin-top: 16px; margin-bottom: 16px;" fxLayout="row"
    fxLayoutAlign="center start" id="home">

    <div class="display-container">
        <!-- Header -->
        <div class="bgimg grayscale-min"
            [style.background-image]="'url(' + 'assets/content/projects/' + id + '/' + data.bgimg + ')'">
            <div class="display-middle center">
                <span class="text-white jumbo tag" style="font-family:'Limelight', cursive">{{data.title}}</span>
            </div>
        </div>

        <mat-card>

            <!-- Page Links -->
            <mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-evenly" class="sticky-toolbar">
                <div *ngFor="let section of sectionTitles">
                    <a routerLink="." fragment="{{getId(section)}}" class="page-link">{{section}}</a>
                </div>
            </mat-toolbar>

            <mat-slide-toggle *ngIf="!production" [(ngModel)]="editPage">Edit</mat-slide-toggle>

            <div class="width">
                <!-- Link Buttons -->
                <div class="center" style="padding-top: 32px;" fxLayout="row" fxLayoutGap="16px"
                    fxLayoutAlign="center center">
                    <button mat-raised-button appMaterialElevation (click)="openPage(data.demo)" type="button"
                        [disabled]="data.demo === ''" class="link-button">
                        <i class="fa fa-spinner link-icon"></i>Try It Out
                    </button>
                    <button mat-raised-button appMaterialElevation (click)="openPage(data.github)" type="button"
                        [disabled]="data.github === ''" class="link-button">
                        <i class="fab fa-github link-icon"></i>The Repo
                    </button>
                </div>
            </div>

            <!-- Sections -->
            <div *ngFor="let section of data.sections">
                <app-tmpl-wrapper [section]="section" [id]="id" [project]="true" [edit]="editPage" (updateSection)="section = $event; printUpdate(data)"></app-tmpl-wrapper>
            </div>


            <!-- Other Project Section -->
            <app-projects-small [id]="id"></app-projects-small>

        </mat-card>
    </div>

</div>