<div id="top"></div>
<!-- Header background -->
<div style="background-color: #2e2e2e; width: 100%; height: 400px; position: static; z-index: -10; top: 0;"></div>
<div *ngIf="data" class="bgimg" style="margin: auto; margin-bottom: 16px;" fxLayout="row"
    fxLayoutAlign="center start" id="home">

    <div class="display-container" style="margin: -350px 0 0 0">
        <!-- Header -->
        <h1 class="jumbo center text-white" style="margin: 96px 0">{{data.title}}</h1>
        <div class="main-content">
            <div class="width">
                <!-- Link Buttons -->
                <div class="center" style="padding-top: 32px;" fxLayout="row" fxLayoutGap="16px"
                    fxLayoutAlign="center center">
                    <a *ngIf="data.demo !== ''" mat-raised-button appMaterialElevation 
                        [href]="data.demo" target="_blank" class="link-button">
                        <i class="fa fa-spinner link-icon"></i>Demo
                    </a>
                    <button *ngIf="data.demo === ''" mat-raised-button appMaterialElevation 
                        type="button" [disabled]="true" class="link-button">
                        <i class="fa fa-spinner link-icon"></i>Demo
                    </button>

                    <a *ngIf="data.github !== ''" mat-raised-button appMaterialElevation 
                        [href]="data.github" target="_blank" class="link-button">
                        <i class="fab fa-github link-icon"></i>Github
                    </a>
                    <button *ngIf="data.github === ''" mat-raised-button appMaterialElevation 
                        type="button" [disabled]="true" class="link-button">
                        <i class="fab fa-github link-icon"></i>Github
                    </button>
                </div>
            </div>

            <!-- Sections -->
            <div *ngFor="let section of data.sections">
                <app-tmpl-wrapper [section]="section" [id]="id" [project]="true"></app-tmpl-wrapper>
            </div>

            <!-- Other Project Section -->
            <app-projects-small [id]="id"></app-projects-small>

            <div style="padding: 32px 8px 8px;">
                <disqus [identifier]="path" [language]="'en'"></disqus>
            </div>  

        </div>
    </div>

</div>

<div *ngIf="error" class="display-container" style="margin: auto; margin-top: 16px; margin-bottom: 16px;">
    <mat-card>
        <div>
            <h3>Could not find data for {{id}}</h3>
        </div>
    </mat-card>    
</div>
