<div id="top"></div>
<div *ngIf="data" style="margin: auto; margin-top: 16px; margin-bottom: 16px;" fxLayout="row"
    fxLayoutAlign="center start" id="home">

    <div class="display-container">
        <!-- Header -->
        <div class="bgimg grayscale-min"
            [style.background-image]="'url(' + 'assets/content/projects/' + id + '/' + data.bgimg + ')'">
            <div class="display-middle center">
                <span class="text-white jumbo tag" style="font-family:'Limelight', cursive">{{data.title}}</span>
            </div>
        </div>

        <mat-card class="dark-theme">

            <!-- Page Links -->
            <mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-evenly" class="sticky-toolbar">
                <div *ngFor="let section of sectionTitles">
                    <a routerLink="." fragment="{{getId(section)}}" class="page-link">{{section}}</a>
                </div>
            </mat-toolbar>

            <div class="width">
                <!-- Link Buttons -->
                <div class="center" style="padding-top: 32px;" fxLayout="row" fxLayoutGap="16px"
                    fxLayoutAlign="center center">
                    <a mat-raised-button appMaterialElevation [href]="data.demo" target="_blank"
                        [disabled]="data.demo === ''" class="link-button">
                        <i class="fa fa-spinner link-icon"></i>Try It Out
                    </a>
                    <a mat-raised-button appMaterialElevation [href]="data.github" target="_blank"
                        [disabled]="data.github === ''" class="link-button">
                        <i class="fab fa-github link-icon"></i>The Repo
                    </a>
                </div>
            </div>

            <!-- Sections -->
            <div *ngFor="let section of data.sections">
                <app-tmpl-wrapper [section]="section" [id]="id" [project]="true"></app-tmpl-wrapper>
            </div>


            <!-- Other Project Section -->
            <app-projects-small [id]="id"></app-projects-small>

        </mat-card>
    </div>

</div>

<div *ngIf="error" class="display-container" style="margin: auto; margin-top: 16px; margin-bottom: 16px;">
    <mat-card>
        <div>
            <h3>Could not find data for {{id}}</h3>
        </div>
    </mat-card>    
</div>
