<div *ngIf="data" style="margin: auto; margin-top: 16px; margin-bottom: 16px;" fxLayout="row"
    fxLayoutAlign="center start" id="home">

    <div class="display-container">
        <div class="light-theme">

            <mat-card-title style="font-size: 36px; text-align: center;">{{data.title}}</mat-card-title>
            <mat-card-subtitle style="text-align: center; color: gray;"><pre style="white-space: pre-wrap;">{{data.author}}  •  {{data.date}}  •  {{data.category}}</pre></mat-card-subtitle>

            <!-- Sections -->
            <div *ngFor="let section of data.sections">
                <app-tmpl-wrapper [section]="section" [id]="id"></app-tmpl-wrapper>
            </div>

        </div>
    </div>

</div>