<div class="display-container card-container">
    <div fxLayout="column" fxLayoutAlign="center" style="height: 100%;" class="light-theme">
        <div></div>

        <div class="home-background">
            <div style="margin-top: 300px; margin-bottom: 300px;">
                <h3 class="home-super-title"><em>{{data ? data.welcomeSubtitle : ''}}</em></h3>
                <h1 class="home-title"><strong>{{data ? data.welcomeTitle : ''}}</strong></h1>
                <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="32px" style="padding-top: 32px;">
                    <a mat-raised-button routerLink="/about" appMaterialElevation
                        raisedElevation="16">&nbsp;&nbsp;About&nbsp;&nbsp;</a>
                    <a mat-raised-button routerLink="/projects" appMaterialElevation
                        raisedElevation="16">Projects&nbsp;</a>
                </div>
            </div>
        </div>

        <!-- Other Projects -->
        <app-projects-small [id]="''" [headerText]="'Projects'"></app-projects-small>

        <app-tmpl-wrapper class="title-width" [section]="{ type: 'header', text: 'Blog Posts'}"></app-tmpl-wrapper>

        <div fxLayout="column" fxLayoutAlign="center center">
            <div *ngFor="let blog of blogList" style="width: 100%;">
                <app-blog-card [blog]="blog"></app-blog-card>
            </div>
        </div>

        <div></div>
    </div>
</div>