<div class="display-container card-container" style="max-width: 1400px;">
    <mat-card fxLayout="column" fxLayoutAlign="center" style="margin: 16px; height: 100%;">
        <div></div>

        <div class="home-background">
            <div style="margin-top: 300px; margin-bottom: 300px;">
                <h3 class="home-super-title"><em>{{data ? data.welcomeSubtitle : ''}}</em></h3>
                <h1 class="home-title"><strong>{{data ? data.welcomeTitle : ''}}</strong></h1>
                <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="32px" style="padding-top: 32px;">
                    <a mat-raised-button routerLink="/about" appMaterialElevation raisedElevation="16">&nbsp;&nbsp;About&nbsp;&nbsp;</a>
                    <a mat-raised-button routerLink="/projects" appMaterialElevation raisedElevation="16">Projects&nbsp;</a>
                </div>
            </div>
        </div>

        <h2>These are my projects</h2>

        <h2>This is my blog</h2>

        <div></div>
    </mat-card>
</div>